pandas
praw
google-api-python-client
discord.py
python-decouple
apache-airflow
langdetect
nltk
scikit-learn
pgvector
psycopg2-binary
gensim
torch
transformers
huggingface_hub 
sentence-transformers
spacy
click==8.1.8
